body {
  background-repeat: no-repeat;
  background-image: url('https://wallpapers.com/images/featured/computer-science-cmoeeb2alwqi3awp.jpg');
}

.button{
  display: flex;
  justify-content: center;

}
